language: ruby
bundler_args: "--without development:production"
cache: bundler
sudo: false
script:
- bundle exec rake
- bundle exec rubocop --rails
rvm:
- 2.2.0
env:
  global:
  - OHANA_API_ENDPOINT=http://api.smc-connect.org
  - secure: WWteLvcsks/fRycU0UDomkhThCX41vN2yqPR0FdQ4qHjXcDkEiPHngzB1YKoWSoiq4+oibAddSt9V4/7DvGwtks3lOohQn2iqcybObLs7ER9HrensOs2wzjTDFwduhYxQM38BWou35V6/Aod8OtK2HNHUrnDqqJaAb9NuVERwIM=
